<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Editar Carro</title>
</head>
<body>
    <h2>Editar Carro</h2>
    <form action="/carro_editar" method="post">
        <input type="hidden" id="id" name="id" th:value="${carro.id}" required>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${carro.nome}" required>
        </div>
        <div>
            <label for="fabricante">Fabricante:</label>
            <input type="text" id="fabricante" name="fabricante" th:value="${carro.fabricante}" required>
        </div>
        <div>
            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" th:value="${carro.placa}" required>
        </div>
        <button type="submit">Alterar</button>
    </form>
</body>
</html>